<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>demo 1</title>
</head>
<body>
<div ng-app="personApp">
<div ng-controller="PersonController">
{{message}}
<br><br>
<button ng-click="login()" ng-hide="username">Login</button>
<button ng-click="logout()" ng-show="username">Logout</button>
</div>
</div>
</body>
<script type="text/javascript" 
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script type="text/javascript" src="samplecontroller.js"></script>

</html>