<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>insertion</title>
</head>
<body>

<form>
<h3><font face="arial narrow" color="white"><u>Insert</u> the following details</font></h3>
<table>
<tr>
	<td><font face="arial narrow" size="3" color="white">Enter Name:</font></td>
	<td><input type="text" ng-model="person.name"></td>
</tr>
<tr>
	<td><font face="arial narrow" size="3" color="white">Enter E-Mail:</font></td>
	<td><input type="text" ng-model="person.email"></td>
</tr>
<tr>
	<td><font face="arial narrow" size="3" color="white">Enter Phone no.:</font></td>
	<td><input type="text" ng-model="person.phoneno"></td>
</tr>
<tr>
	<td><font face="arial narrow" size="3" color="white">Enter Dob:</font></td>
	<td><input type="text" ng-model="person.dob"></td>
</tr>

</table>
<br>
<input class="btn btn-primary" type="submit" ng-click="save()" value="Insert"> <!-- search for  $scope.save in PersonController and call the function -->




</form>
{{status}}
</body>
</html>